@{
    ViewData["Title"] = "Startpagina";
}

<div class="text-center">
    <h1 class="display-4">Welkom bij Festispec</h1>
    <h3 class="display-5">Gebruik het menu om door de site heen te navigeren.</h3>
    

</div>
