@model Festispec.Models.Availability
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-action="Index">
    <script>
        const data = @Html.Raw(ViewBag.SuccesBody);
        $(document).ready(function () {
            $('.datepicker').datepicker({
                language: "nl",
                todayHighlight: true,
                clearBtn: true,
                multidate: true
            });

            $('.datepicker').on('changeDate', function(evt) {
    console.log(evt.date);
  });
          
  $('.btn').on('click', function() {
    var the_date = $('.datepicker:first').datepicker('getDates');
    console.log(the_date);
  });


        });

        

        function changeDaysBackground() {
            console.log("changeBackground");
            var days = $(".datepicker-days td");

            document.querySelectorAll(".datepicker-days td").forEach(i => {
               if(data[i.dataset.date] == 1)
                    $(i).addClass("change")
            
            });
            
        }
    </script>
    <style>
        .change {
            background-color: red;
        }
    </style>

    <div id="background-availability">
        <h1 id="availability-title">Beschikbaarheid</h1>
        <div class="datepicker">

        </div>
        <div class="span5 col-md-5" id="sandbox-container">
            <p id="date-error" style="color : red ; font-weight: bold">@TempData["DateError"]</p>
            <div>
            </div>
        </div>
        <div class="legend-item">
            <div id="blue-circle"></div> <p>Beschikbaar</p>
        </div>
        <div class="legend-item">
            <div id="green-circle"></div> <p>Aangegeven beschikbaarheid</p>
        </div>

        <h2 class="availability-paragraph-title">Beschikbaarheid invullen</h2>
        <p class="availability-paragraph">Selecteer de data dat je beschikbaar bent, op deze data kan je worden ingepland voor een inspectie</p>
        <input type="submit" value="Opslaan" class="btn btn-primary" style="align-content: center; white-space: nowrap" />
    </div>

</form>

