@model Festispec.Models.Availability
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-action="Index">
    <script>
        $( document ).ready(function() {
            $('#sandbox-container div').datepicker({
                language: "nl",
                todayHighlight: true,
                defaultViewDate: { year: @DateTime.Now.ToString("yyyy"), month: @DateTime.Now.ToString("MM"), day: @DateTime.Now.ToString("dd") }
            });
        });
   
    </script>

    <div class="span5 col-md-5" id="sandbox-container">
        <div>
        </div>
    </div>

            <div id="background-availability">
                <h1 id="availability-title">Beschikbaarheid</h1>
                <div class="legend-item">
                    <div id="blue-circle"></div> <p>Beschikbaar</p>
                </div>
                <div class="legend-item">
                    <div id="green-circle"></div> <p>Aangegeven beschikbaarheid</p>
                </div>


                <h2 class="availability-paragraph-title">Beschikbaarheid invullen</h2>
                <p class="availability-paragraph">Selecteer de data dat je beschikbaar bent, op deze data kan je worden ingepland voor een inspectie</p>
            </div>
</form>

