
@{
    ViewData["Title"] = "Index";
}

    <div id="background-availability">
        <h1 id="availability-title">Beschikbaarheid</h1>
        <div class="legend-item">
            <div id="blue-circle"></div> <p>Beschikbaar</p>
        </div>
        <div class="legend-item">
            <div id="green-circle"></div> <p>Aangegeven beschikbaarheid</p>
        </div>


        <h2 class="availability-paragraph-title">Beschikbaarheid invullen</h2>
        <p class="availability-paragraph">Selecteer de data dat je beschikbaar bent, op deze data kan je worden ingepland voor een inspectie</p>
    </div>
