@{
    ViewData["Title"] = "Details";
}
@model Festispec.Models.PlannedInspection

<h2>@Model.EventTitle</h2>
<div class="Questions">
    @foreach (var question in Model.Questionnaire.Questions)
    {

        @Html.Partial("_Question", question)
    }
</div>
