/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
}

    .rating label {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        cursor: pointer;
    }

        .rating label:last-child {
            position: static;
        }

        .rating label:nth-child(1) {
            z-index: 5;
        }

        .rating label:nth-child(2) {
            z-index: 4;
        }

        .rating label:nth-child(3) {
            z-index: 3;
        }

        .rating label:nth-child(4) {
            z-index: 2;
        }

        .rating label:nth-child(5) {
            z-index: 1;
        }

        .rating label input {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }

        .rating label .icon {
            float: left;
            color: transparent;
        }

        .rating label:last-child .icon {
            color: #000;
        }

    .rating:not(:hover) label input:checked ~ .icon,
    .rating:hover label:hover input ~ .icon {
        color: #09f;
    }

    .rating label input:focus:not(:checked) ~ .icon:last-child {
        color: #000;
        text-shadow: 0 0 5px #09f;
    }

.Questions {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 20px #00000029;
    border-radius: 15px;
    opacity: 1;
    padding: 10px;
    margin: 1em;
}

    .Questions Question Question-title {
        text-align: left;
        font: Bold 27px/33px Montserrat;
        letter-spacing: 0;
        color: #707070;
        opacity: 1;
    }

.Question-title::after {
    content: "";
    display: block;
    margin-top: 9px;
    width: 113px;
    height: 0;
    border-bottom: 4px solid #FF4A4A;
    border-radius: 15px;
}

textarea {
    background: #F7F6F6 0% 0% no-repeat padding-box;
    border: 1px solid #CFCFCF;
    border-radius: 8px;
    opacity: 1;
    height: 10em;
    width: 100%;
}

.Question {
    margin-bottom: 5em;
}


/* Styling voor login view */
#festispec-logo-login {
    width: 300px;
    height: auto;
    margin-bottom: 50px;

    display: flex;
    align-items: center;
}

.login-text {
    margin-top: 20px;
    font-family: Montserrat;
    color: #707070;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-field {
    font-family: Montserrat;
    color: #707070;
    font-size: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-field label {
    margin-bottom: 1px;
    margin-top: 10px;
}

.forum-input-box {
    width: 250px;
    padding: 11px 15px 11px 15px;
    margin-top: 1px;

    background-color: #F7F6F6;
    border-width: 1px;
    border-color: #CFCFCF;
    border-style: solid;
    border-radius: 8px;

    font-family: Montserrat;
    color: #707070;
    font-size: 23px;
}

#login-button {
    margin-top: 30px;
    background-color: #00D68D;
    border-width: 0px;
    border-radius: 35px;
    padding: 10px 34px 10px 34px;
    width: 200px;
    font-family: Montserrat;
    color: #FFFFFF;
}

#login-error {
    width: 250px;
    color: red;
    font-size: 15px;
    margin-top: 15px;

    display: flex;
    text-align: center;
}
