/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


/* Styling voor login view */
#festispec-logo-login {
    width: 300px;
    height: auto;
    margin-bottom: 50px;

    display: flex;
    align-items: center;
}

.login-text {
    margin-top: 20px;
    font-family: Montserrat;
    font: bold;
    color: #707070;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-field {
    font-family: Montserrat;
    color: #707070;
    font-size: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-field label {
    margin-bottom: 1px;
    margin-top: 10px;
}

.forum-input-box {
    width: 250px;
    padding: 11px 15px 11px 15px;
    margin-top: 1px;

    background-color: #F7F6F6;
    border-width: 1px;
    border-color: #CFCFCF;
    border-style: solid;
    border-radius: 8px;

    font-family: Montserrat;
    color: #707070;
    font-size: 23px;
}

#login-button {
    margin-top: 30px;
    background-color: #00D68D;
    border-width: 0px;
    border-radius: 35px;
    padding: 10px 34px 10px 34px;
    width: 200px;
    font-family: Montserrat;
    color: #FFFFFF;
}

#login-error {
    width: 250px;
    color: red;
    font-size: 15px;
    margin-top: 15px;

    display: flex;
    text-align: center;
}
