
@{
    ViewData["Title"] = "Better";
}

<h1>Beter melden</h1>
<form asp-action="Better">
    <br />
    <div style="text-align:center;">
        <input type="submit" value="Beter Melden" class="btn btn-primary" style="width:50% ; white-space: nowrap; overflow: hidden;"/>
    </div>

</form>
