@model Festispec.Models.Availability
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-action="Index">
    <input asp-for="Employee.Id" type="hidden" value="1"/>
    <input asp-for="Reason" />
    <input asp-for="EndTime" type ="date"/>

    <input type="submit" value="Bevestigen" />

</form>
