@model Festispec.Models.Availability
@{
    ViewData["Title"] = "Index";
}

<h1>Ziek Melden</h1>
<form asp-action="Index">

    <input asp-for="Employee.Id" type="hidden" value="1" />

    <div class="card">
        <label class="control-label"> Reden:</label>
        <input asp-for="Reason" title="Reden:" />

    </div>
    <br />
    <div class="card">
        <label class="control-label"> Verwachte eindtijd(optioneel):</label>
        <input asp-for="EndTime" type="date" title="Verwachte eind tijd" />
    </div>
    <br />
    <div class="card"> 
        <input type="submit" value="Bevestigen" class="btn btn-primary"/>
    </div>


</form>
