@model Festispec.Models.Availability
@{
    ViewData["Title"] = "Index";
}

<h1>Ziek Melden</h1>
<form asp-action="Index">

    @*Dit kan weg als inloggen wordt gepushed.*@
    <input asp-for="Employee.Id" type="hidden" value="1" />

    @*Dit is voor als het inloggen wordt gepushed.
        <input asp-for="Employee.Id" type="hidden" value="ParseInt(Request.Cookies["CurrentUserID"])" />*@


    <div class="card">
        <label class="control-label"> Reden:</label>
        <input asp-for="Reason" title="Reden:" />

    </div>
    <br />
    <div class="card">
        <label class="control-label"> Verwachte eindtijd (optioneel):</label>
        <input asp-for="EndTime" type="date" title="Verwachte eind tijd" />
        <p id="date-error" style="color : red ; font-weight: bold">@TempData["DateError"]</p>
    </div>
    <br />
    <div class="card">
        <input type="submit" value="Bevestigen" class="btn btn-primary" style="align-content: center; white-space: nowrap" />
    </div>
    

</form>
