@{
    ViewData["Title"] = "Login";
}

@model Festispec.Models.Account
       
    <div class="inlog-text">
        <img id="festispec-logo-login" src="~/Images/festispec logo.png" />
        <h1>Welkom!</h1>
        <p>Om in te loggen, vul je gegevens in.</p>
    </div>
    
    @using (Html.BeginForm("Login", "Authentication", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
    
        <fieldset>
            <div class="inlog-field">
                <label for="gebruikersnaam">Gebruikersnaam:</label>
                @Html.TextBoxFor(m => m.Username, new { id = "username", name = "gebruikersnaam" })
            </div>
            <div class="inlog-field">
                <label for="wachtwoord">Wachtwoord:</label>
                @Html.PasswordFor(m => m.Password, new { id = "password", name = "wachtwoord" })
                <input type="submit" value="Inloggen" id="inlogknop">
                <p id="login-error">@TempData["LoginError"]</p>
            </div>
        </fieldset>
    }

    
    