@model Festispec.Models.Answers.FileAnswer
    <button id="btnUpload"></button>
<script>
var w = window.innerWidth;
var h = window.innerHeight;


    function preload(){

        bg = loadImage("@Model.UploadedFilePath.ToString()");

    }
    function setup() {
        canvas = createCanvas(w, h);
        canvas.style('z-index', '-1');
        background(bg);
      strokeWeight(10);
      stroke(0);
    }

function draw() {
  if(mouseIsPressed){
    line(pmouseX, pmouseY, mouseX,mouseY);
  }
}

$("#btnUpload").on("click", function(e) {
    e.preventDefault();

    var file = canvas.canvas.toDataURL("image/png");
 
    $.ajax({
        url: '@Url.Action("Draw", "Draw")',
        method: "post",
        data: file,
        cache: false,
        contentType: false,
        processData: false
    })
    .then(function(result) {
        alert("test");
    });
});

</script>


