@model Festispec.Models.Answers.FileAnswer
    <button class="btn btn-success" id="btnUpload">Opslaan</button>
<script>
var w = window.innerWidth;
var h = window.innerHeight;


    function preload() {

        @{
            var questionPicture = ((Festispec.Models.Questions.DrawQuestion)Model.Question).PicturePath;
        }

        bg = loadImage("@questionPicture");
    }
    function setup() {
        canvas = createCanvas(w, h);
        background(255);

        var scale = Math.min(width / bg.width,  height/ bg.height);


         var x = (width / 2) - (bg.width / 2) * scale;
        var y = (height / 2) - (bg.height / 2) * scale;


        image(bg, x, y, bg.width * scale, bg.height * scale);
    }

    function draw() {
        strokeWeight(10);
        stroke(0);


        if (mouseIsPressed) {
            line(pmouseX, pmouseY, mouseX, mouseY, 10, 10);
        }

    }

$("#btnUpload").on("click", function(e) {
    e.preventDefault();

    var file = canvas.canvas.toDataURL("image/png");
    dataUrl = file.replace('data:image/png;base64,', '');
    var obj = { QuestionId: @Model.Question.Id, ImageData: dataUrl };
    
    $.post("/Draw/Draw", { imageData: JSON.stringify(obj) });
    window.location.href = '@Url.Action("Details", "Inspection", new { id = Model.PlannedInspection.Id })';

});

</script>


